@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition", "compass/css3/box-shadow";

@include font-face("???", font-files("???.ttf"));

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}

/* CONTENT */
.fish {
  max-width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  @include border-radius(80px);
  color: rgba(18, 36, 78, 0.90);
  height: 1500px;
  .title-content {
    text-align: center;
    h1 {
      font-size: 60px;
      color: rgba(18, 36, 78, 0.56);
      font-weight: bold;
      margin-top: 60px;
      margin-bottom: 40px;
    }
    /* COUNT UP */
    #counter {
      p {
        color: rgba(18, 36, 78, 0.60);
        font-size: 22px;
        display: inline-block;
        font-weight: lighter;
      }
      #years,
      #days,
      #hours,
      #minutes,
      #seconds {
        color: rgba(18, 36, 78, 0.80);
        font-size: 42px;
        font-weight: bold;
      }
    }
  }
}


/* VIDEO BACKGROUND */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  //background: url('...jpeg') no-repeat;
}


/* ACCORDION GALLERY

Width of image = 640px
total images = 5
width of hovered image = 640px
width of un-hovered image = 40px
total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;

*/
#accordion {
  max-width: 805px;
  height: auto;
  overflow: hidden;
  margin: 50px auto;
  @include box-shadow(0 0 10px 1px rgba(18, 36, 78, 0.60));
  .image_title {
    background: rgba(18, 36, 78, 0.56);
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;
  }
  .image_title a {
    display: block;
    color: rgba(255, 255, 255, 0.91);
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
  }
  ul {       //A small hack to prevent flickering on some browsers. This will give sample space to the last item to move instead of falling down/flickering during hovers
    width: 2000px;
  }
  li {
    position: relative;
    display: block;
    width: 160px;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    @include box-shadow(0 0 25px 10px rgba(0, 0, 0, 0.5));
    @include transition(.5s);
    img {
      display: block;
    }
  }
}
#accordion ul:hover li {  //width of visible area of other images while hovering
  width: 40px;
}
#accordion ul li:hover {  // width of full image
  width: 640px;
}

/* MODAL WINDOW - images */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}
.modal {
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#img-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 695px;
  text-align: center;
  color: #fff;
  padding: 25px 0;
}

.modal-content, #img-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


