@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition";

@include font-face("???", font-files("???.ttf"));

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}

/* CONTENT */
.fish {
  max-width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  @include border-radius(80px);
  text-align: justify;
  color: rgba(18, 36, 78, 0.90);
  height: 1500px;
  .title {
    font-size: 60px;
    color: rgba(18, 36, 78, 0.56);
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p {
    padding: 0 20px;
  }
}


/* VIDEO BACKGROUND */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  //background: url('...jpeg') no-repeat;
  background-size: cover;
}

/* @media */