/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "???";
  src: url('../fonts/???.ttf') format('truetype');
}
/* for Bootstrap */
/* line 6, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 7, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/**/
/* line 12, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 13, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 15, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* VIDEO BACKGROUND */
/* line 20, ../sass/stylesheet.scss */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/* CONTENT */
/* line 35, ../sass/stylesheet.scss */
.fish {
  max-width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 40, ../sass/stylesheet.scss */
.content {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.45);
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  color: rgba(18, 36, 78, 0.9);
  padding-bottom: 50px;
}
/* line 48, ../sass/stylesheet.scss */
.content .title-content .header-content {
  /* COUNT UP */
}
/* line 49, ../sass/stylesheet.scss */
.content .title-content .header-content h1 {
  text-align: center;
  font-size: 62px;
  color: rgba(18, 36, 78, 0.56);
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 60px;
}
/* line 57, ../sass/stylesheet.scss */
.content .title-content .header-content .page_description {
  color: rgba(18, 36, 78, 0.9);
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 24px;
}
/* line 66, ../sass/stylesheet.scss */
.content .title-content .header-content #counter {
  padding: 15px 20px;
  margin: 0 auto;
}
/* line 69, ../sass/stylesheet.scss */
.content .title-content .header-content #counter p {
  color: rgba(18, 36, 78, 0.7);
  font-size: 22px;
  display: inline-block;
  font-weight: lighter;
}
/* line 75, ../sass/stylesheet.scss */
.content .title-content .header-content #counter #years,
.content .title-content .header-content #counter #days,
.content .title-content .header-content #counter #hours,
.content .title-content .header-content #counter #minutes,
.content .title-content .header-content #counter #seconds {
  color: rgba(18, 36, 78, 0.8);
  font-size: 42px;
  font-weight: bold;
}

/* line 89, ../sass/stylesheet.scss */
body.modal-open #wrap {
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

/* line 97, ../sass/stylesheet.scss */
.modal-backdrop {
  background: #f7f7f7;
}

/* line 99, ../sass/stylesheet.scss */
.close {
  font-size: 50px;
  display: block;
}

/* ACCORDION GALLERY
    Width of image = 640px
    total images = 5
    width of hovered image = 640px
    width of un-hovered image = 40px
    total container width = 640 + 40*4 = 800px;
    default width = 800/5 = 160px;
*/
/* line 112, ../sass/stylesheet.scss */
#accordion {
  max-width: 805px;
  height: auto;
  overflow: hidden;
  margin: 50px auto 20px auto;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  -moz-box-shadow: 0 0 10px 1px rgba(18, 36, 78, 0.6);
  -webkit-box-shadow: 0 0 10px 1px rgba(18, 36, 78, 0.6);
  box-shadow: 0 0 10px 1px rgba(18, 36, 78, 0.6);
}
/* line 119, ../sass/stylesheet.scss */
#accordion .image_title {
  background: rgba(18, 36, 78, 0.56);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
}
/* line 125, ../sass/stylesheet.scss */
#accordion .image_title p {
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.91);
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}
/* line 133, ../sass/stylesheet.scss */
#accordion ul {
  width: 2000px;
}
/* line 136, ../sass/stylesheet.scss */
#accordion li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  /* MODAL WINDOW */
}
/* line 145, ../sass/stylesheet.scss */
#accordion li img {
  display: block;
}
/* line 149, ../sass/stylesheet.scss */
#accordion li #myImg,
#accordion li #myImg2,
#accordion li #myImg3,
#accordion li #myImg4,
#accordion li #myImg5 {
  cursor: pointer;
  transition: 0.3s;
}
/* line 157, ../sass/stylesheet.scss */
#accordion li .modal {
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}
/* line 166, ../sass/stylesheet.scss */
#accordion li .modal .modal-content {
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  margin: auto;
  display: block;
  max-width: 720px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* line 176, ../sass/stylesheet.scss */
#accordion li .modal .modal-content h2 {
  text-align: center;
  font-size: 22px;
  color: rgba(18, 36, 78, 0.9);
  font-weight: bold;
  margin-top: 20px;
}
/* line 183, ../sass/stylesheet.scss */
#accordion li .modal .modal-content #img01,
#accordion li .modal .modal-content #img02,
#accordion li .modal .modal-content #img03,
#accordion li .modal .modal-content #img04,
#accordion li .modal .modal-content #img05 {
  padding: 20px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
/* line 191, ../sass/stylesheet.scss */
#accordion li .modal .modal-content .img-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 640px;
  text-align: center;
  color: rgba(18, 36, 78, 0.8);
  padding-bottom: 30px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* line 205, ../sass/stylesheet.scss */
#accordion li .modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgba(18, 36, 78, 0.9);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
/* line 213, ../sass/stylesheet.scss */
#accordion li .modal .close:hover, #accordion li .modal .close:focus {
  color: #bbb;
  text-decoration: rgba(18, 36, 78, 0.5);
  cursor: pointer;
}

/* line 223, ../sass/stylesheet.scss */
#accordion ul:hover li {
  width: 40px;
}

/* line 226, ../sass/stylesheet.scss */
#accordion ul li:hover {
  width: 640px;
}

/* modal accordion*/
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  /* line 242, ../sass/stylesheet.scss */
  .modal-content {
    width: 100%;
  }
}
