/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "???";
  src: url('../fonts/???.ttf') format('truetype');
}
/* for Bootstrap */
/* line 6, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 7, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/**/
/* line 12, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 13, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 15, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* VIDEO BACKGROUND */
/* line 20, ../sass/stylesheet.scss */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background: url("../images/bg-video.jpg") no-repeat;
}

/* CONTENT */
/* line 35, ../sass/stylesheet.scss */
.container-content {
  position: relative;
}

/* line 38, ../sass/stylesheet.scss */
.fish {
  max-width: 150px;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* line 43, ../sass/stylesheet.scss */
.content {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.45);
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  color: rgba(18, 36, 78, 0.9);
  padding-bottom: 55px;
}
/* line 51, ../sass/stylesheet.scss */
.content .title-content h1 {
  text-align: center;
  font-size: 62px;
  color: rgba(18, 36, 78, 0.56);
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 60px;
}
/* line 59, ../sass/stylesheet.scss */
.content .title-content .page_description {
  color: rgba(18, 36, 78, 0.9);
  font-size: 18px;
  padding: 20px 20px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 24px;
}

/* ACCORDION GALLERY
    Width of image = 640px
    total images = 5
    width of hovered image = 640px
    width of un-hovered image = 40px
    total container width = 640 + 40*4 = 800px;
    default width = 800/5 = 160px;
*/
/* line 78, ../sass/stylesheet.scss */
#accordion {
  max-width: 805px;
  height: auto;
  overflow: hidden;
  margin: 50px auto 20px auto;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  -moz-box-shadow: 0 0 10px 1px rgba(18, 36, 78, 0.6);
  -webkit-box-shadow: 0 0 10px 1px rgba(18, 36, 78, 0.6);
  box-shadow: 0 0 10px 1px rgba(18, 36, 78, 0.6);
}
/* line 85, ../sass/stylesheet.scss */
#accordion .image_title {
  background: rgba(18, 36, 78, 0.45);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
}
/* line 91, ../sass/stylesheet.scss */
#accordion .image_title p {
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}
/* line 99, ../sass/stylesheet.scss */
#accordion ul {
  width: 2000px;
}
/* line 102, ../sass/stylesheet.scss */
#accordion li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  /* MODAL WINDOW */
}
/* line 111, ../sass/stylesheet.scss */
#accordion li img {
  display: block;
}
/* line 115, ../sass/stylesheet.scss */
#accordion li #myImg,
#accordion li #myImg2,
#accordion li #myImg3,
#accordion li #myImg4,
#accordion li #myImg5 {
  cursor: pointer;
  transition: 0.3s;
}
/* line 123, ../sass/stylesheet.scss */
#accordion li .modal {
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}
/* line 132, ../sass/stylesheet.scss */
#accordion li .modal .modal-content {
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  margin: auto;
  display: block;
  max-width: 720px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* line 142, ../sass/stylesheet.scss */
#accordion li .modal .modal-content h2 {
  text-align: center;
  font-size: 22px;
  color: rgba(18, 36, 78, 0.9);
  font-weight: bold;
  margin-top: 20px;
}
/* line 149, ../sass/stylesheet.scss */
#accordion li .modal .modal-content #img01,
#accordion li .modal .modal-content #img02,
#accordion li .modal .modal-content #img03,
#accordion li .modal .modal-content #img04,
#accordion li .modal .modal-content #img05 {
  padding: 20px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
/* line 157, ../sass/stylesheet.scss */
#accordion li .modal .modal-content .img-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 640px;
  text-align: center;
  color: rgba(18, 36, 78, 0.8);
  padding-bottom: 30px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* line 171, ../sass/stylesheet.scss */
#accordion li .modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgba(18, 36, 78, 0.9);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
/* line 179, ../sass/stylesheet.scss */
#accordion li .modal .close:hover, #accordion li .modal .close:focus {
  color: #bbb;
  text-decoration: rgba(18, 36, 78, 0.5);
  cursor: pointer;
}

/* line 189, ../sass/stylesheet.scss */
#accordion ul:hover li {
  width: 40px;
}

/* line 192, ../sass/stylesheet.scss */
#accordion ul li:hover {
  width: 640px;
}

/* modal accordion*/
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* COUNT UP */
/* line 207, ../sass/stylesheet.scss */
#counter {
  padding: 10px 20px;
  margin: 0 auto;
  color: rgba(18, 36, 78, 0.7);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 212, ../sass/stylesheet.scss */
#counter:hover {
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  color: rgba(255, 255, 255, 0.8);
}
/* line 216, ../sass/stylesheet.scss */
#counter p {
  font-size: 14px;
  display: inline-block;
  font-weight: lighter;
}
/* line 221, ../sass/stylesheet.scss */
#counter #years,
#counter #days,
#counter #hours,
#counter #minutes,
#counter #seconds {
  font-size: 24px;
  font-weight: bold;
}

/* SIDEBAR */
/* line 232, ../sass/stylesheet.scss */
body {
  position: relative;
  overflow-x: hidden;
}

/* line 236, ../sass/stylesheet.scss */
#wrapper {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* moving "x" to the right, while opening sidebar */
}

/* line 239, ../sass/stylesheet.scss */
#wrapper.toggled {
  padding-left: 300px;
  /* position of "x" in open sidebar */
}

/* line 242, ../sass/stylesheet.scss */
#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 17%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 254, ../sass/stylesheet.scss */
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* line 257, ../sass/stylesheet.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

/* line 260, ../sass/stylesheet.scss */
#page-content-wrapper {
  width: 100%;
}

/* line 263, ../sass/stylesheet.scss */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/* line 267, ../sass/stylesheet.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 274, ../sass/stylesheet.scss */
.sidebar-nav .sidebar-brand {
  font-size: 16px;
  padding: 20px;
  color: rgba(18, 36, 78, 0.7);
  font-weight: bold;
}
/* line 280, ../sass/stylesheet.scss */
.sidebar-nav li {
  position: relative;
  width: 100%;
}

/* line 285, ../sass/stylesheet.scss */
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 5px;
  -moz-transition: 0.2s, ease-in;
  -o-transition: 0.2s, ease-in;
  -webkit-transition: 0.2s, ease-in;
  transition: 0.2s, ease-in;
}

/* line 295, ../sass/stylesheet.scss */
.sidebar-nav li:nth-child(2):before {
  background-color: rgba(0, 0, 0, 0.65);
}

/* line 298, ../sass/stylesheet.scss */
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -moz-transition: 0.2s, ease-in;
  -o-transition: 0.2s, ease-in;
  -webkit-transition: 0.2s, ease-in;
  transition: 0.2s, ease-in;
}

/* Hamburger-Cross */
/* line 305, ../sass/stylesheet.scss */
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: transparent;
  border: none;
}
/* line 315, ../sass/stylesheet.scss */
.hamburger:hover, .hamburger:focus, .hamburger:active {
  outline: none;
}

/* line 322, ../sass/stylesheet.scss */
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 334, ../sass/stylesheet.scss */
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 341, ../sass/stylesheet.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

/* line 352, ../sass/stylesheet.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: rgba(255, 255, 255, 0.45);
}

/* line 357, ../sass/stylesheet.scss */
.hamburger.is-closed .hamb-top {
  top: 5px;
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 361, ../sass/stylesheet.scss */
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

/* line 365, ../sass/stylesheet.scss */
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 370, ../sass/stylesheet.scss */
.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 374, ../sass/stylesheet.scss */
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 378, ../sass/stylesheet.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: rgba(255, 255, 255, 0.45);
}

/* line 383, ../sass/stylesheet.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

/* line 388, ../sass/stylesheet.scss */
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/* line 392, ../sass/stylesheet.scss */
.hamburger.is-open .hamb-middle {
  display: none;
}

/* line 393, ../sass/stylesheet.scss */
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/* line 397, ../sass/stylesheet.scss */
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* line 409, ../sass/stylesheet.scss */
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transition: 0.35s, ease-in-out;
  -o-transition: 0.35s, ease-in-out;
  -webkit-transition: 0.35s, ease-in-out;
  transition: 0.35s, ease-in-out;
}

/* Overlay */
/* line 416, ../sass/stylesheet.scss */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

/* MOVING BLOCKS */
/* line 431, ../sass/stylesheet.scss */
#features .feature {
  -moz-transition: 2s, ease-in-out;
  -o-transition: 2s, ease-in-out;
  -webkit-transition: 2s, ease-in-out;
  transition: 2s, ease-in-out;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 437, ../sass/stylesheet.scss */
#features .feature:hover {
  background: rgba(18, 36, 78, 0.3);
  -webkit-transform: translate(0, 2em);
  -moz-transform: translate(0, 2em);
  -o-transform: translate(0, 2em);
  -ms-transform: translate(0, 2em);
  transform: translate(0, 2em);
}
/* line 444, ../sass/stylesheet.scss */
#features .feature:hover p {
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  color: rgba(255, 255, 255, 0.8);
}
/* line 448, ../sass/stylesheet.scss */
#features .feature:hover i {
  -moz-transition: 1s, ease-in-out;
  -o-transition: 1s, ease-in-out;
  -webkit-transition: 1s, ease-in-out;
  transition: 1s, ease-in-out;
  color: rgba(18, 36, 78, 0.56);
  border-color: rgba(18, 36, 78, 0.56);
  background: rgba(255, 255, 255, 0.8);
}
/* line 454, ../sass/stylesheet.scss */
#features .feature:hover .title_border {
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
}
/* line 459, ../sass/stylesheet.scss */
#features .feature p {
  -moz-transition: 3s;
  -o-transition: 3s;
  -webkit-transition: 3s;
  transition: 3s;
  color: rgba(18, 36, 78, 0.6);
  padding: 10px 40px;
}
/* line 464, ../sass/stylesheet.scss */
#features .feature i {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(18, 36, 78, 0.56);
  padding: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
}
/* line 472, ../sass/stylesheet.scss */
#features .feature .title_border {
  -moz-transition: 1s, ease-in-out;
  -o-transition: 1s, ease-in-out;
  -webkit-transition: 1s, ease-in-out;
  transition: 1s, ease-in-out;
  width: 0%;
  height: 3px;
  background: rgba(18, 36, 78, 0.25);
  margin: 0 auto;
  margin-top: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
                                                      @media
--------------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 991px) {
  /* line 488, ../sass/stylesheet.scss */
  .fish {
    max-width: 120px;
  }

  /* line 493, ../sass/stylesheet.scss */
  .content .title-content h1 {
    font-size: 50px;
    margin-top: 40px;
  }
  /* line 497, ../sass/stylesheet.scss */
  .content .title-content .page_description {
    margin-bottom: 5px;
    padding: 5px 5px;
  }

  /* MOVING BLOCKS */
  /* line 505, ../sass/stylesheet.scss */
  #features .feature {
    padding: 5px;
  }
  /* line 507, ../sass/stylesheet.scss */
  #features .feature i {
    font-size: 80px;
  }
  /* line 510, ../sass/stylesheet.scss */
  #features .feature p {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 518, ../sass/stylesheet.scss */
  .fish {
    display: none;
  }

  /* line 523, ../sass/stylesheet.scss */
  .content .title-content h1 {
    font-size: 44px;
    margin-top: 40px;
  }
  /* line 527, ../sass/stylesheet.scss */
  .content .title-content .page_description {
    font-size: 16px;
  }

  /* line 532, ../sass/stylesheet.scss */
  #accordion li .modal .modal-content {
    margin-left: 5px;
    margin-right: 5px;
  }

  /* MOVING BLOCKS */
  /* line 538, ../sass/stylesheet.scss */
  #features .feature {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  /* MODAL WINDOW */
  /* line 545, ../sass/stylesheet.scss */
  #accordion li .modal .modal-content h2 {
    font-size: 18px;
    margin-top: 15px;
  }

  /* line 549, ../sass/stylesheet.scss */
  #accordion li .modal .modal-content #img01,
  #accordion li .modal .modal-content #img02,
  #accordion li .modal .modal-content #img03,
  #accordion li .modal .modal-content #img04,
  #accordion li .modal .modal-content #img05 {
    padding: 10px;
  }
}
@media only screen and (max-width: 355px) {
  /* SIDEBAR */
  /* line 559, ../sass/stylesheet.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  /* line 562, ../sass/stylesheet.scss */
  .sidebar-nav {
    width: 250px;
  }

  /* line 565, ../sass/stylesheet.scss */
  #wrapper.toggled {
    padding-left: 250px;
    /* position of "x" in open sidebar */
  }

  /* COUNT UP */
  /* line 569, ../sass/stylesheet.scss */
  #counter {
    padding: 5px 10px;
    color: rgba(18, 36, 78, 0.7);
  }
  /* line 572, ../sass/stylesheet.scss */
  #counter p {
    font-size: 12px;
  }
  /* line 575, ../sass/stylesheet.scss */
  #counter #years,
  #counter #days,
  #counter #hours,
  #counter #minutes,
  #counter #seconds {
    font-size: 20px;
  }
}
